<%- include('partials/header.ejs') %>

<div class="container contact-form">
    <div class="inner">
      <h1 id="title">Get in touch.</h1>
      <form class="questions" id="contact-form" method="POST">
        <!-- Name -->
        <div class="mb-3">
          <label for="name" class="form-label" id="name-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter your name"
            autocomplete="off"
            required
          />
        </div>
        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label" id="email-label"
            >Email</label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter your Email"
            required
          />
        </div>
        <!-- Age -->
        <div class="mb-3">
          <label for="number" class="form-label" id="number-label"
            >Subject (optional)</label
          >
          <input
            type="text"
            class="form-control"
            id="subject"
          />
        </div>
        <!-- textarea -->
        <div class="mb-3">
          <label for="Textarea1" class="form-label"
            >Your Message
          </label>
          <textarea
            class="form-control"
            id="Textarea1"
            rows="3"
            required
          ></textarea>
        </div>
        <!-- submit button -->
        <div class="d-grid gap-2">
          <input class="btn btn-dark" type="submit" id="contact_submit" value="Submit">
        </div>
      </form>
    </div>
</div>

<%- include('partials/footer.ejs') %>