<%- include('partials/header.ejs') %>

<div class="container justify-content-center">
    <img class="home-img" src="\styles\images\blog.jpg" />
</div>

<div class="container">
  <div class="col-md-12 text-center">
    <div class="lc-block mb-4">
      <p editable="inline" class="display-2 mb-0 fs-1">Featured Articles</p>
    </div>
  </div>

    <!-- Boxes -->
    <div class="row mb-2">
        <!-- First box -->
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <div class="mb-2 badge text-bg-success text-wrap badges_width">
                Sport
              </div>
              <h3 class="mb-1">Lorem Ipsum</h3>
              <div class="mb-1 text-info">Nov 12</div>
              <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p> <br>
              <a href="#" class="icon-link gap-1 icon-link-hover">
                Continue reading
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
            </div>
          </div>
        </div>
    <!-- Second box -->
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <div class="mb-2 badge text-bg-success text-wrap badges_width">
                Design
              </div>
              <h3 class="mb-1">Lorem Ipsum</h3>
              <div class="mb-1 text-info">Dec 11</div>
              <p class="mb-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p> <br>
              <a href="#" class="icon-link gap-1 icon-link-hover">
                Continue reading
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
            </div>
          </div>
        </div>
    <!-- Third box -->
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <div class="mb-2 badge text-bg-success text-wrap badges_width">
                  Fashion
                </div>
                <h3 class="mb-1">Lorem Ipsum</h3>
                <div class="mb-1 text-info">May 11</div>
                <p class="mb-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p> <br>
                <a href="#" class="icon-link gap-1 icon-link-hover">
                  Continue reading
                </a>
              </div>
              <div class="col-auto d-none d-lg-block">
              </div>
            </div>
          </div>
    <!-- Fourth box -->
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <div class="mb-2 badge text-bg-success text-wrap badges_width">
                  Economy
                </div>
                <h3 class="mb-1">Lorem Ipsum</h3>
                <div class="mb-1 text-info">Nov 11</div>
                <p class="mb-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p> <br>
                <a href="#" class="icon-link gap-1 icon-link-hover">
                  Continue reading
                </a>
              </div>
              <div class="col-auto d-none d-lg-block">
            </div>
            </div>
          </div>
      </div>

      <!-- FAQ -->
      <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="lc-block text-center">
                    <div editable="rich">
                        <h2 class="fw-bold">FAQ</h2>
                    </div>
                </div>
                <div class="lc-block text-center">
                    <div editable="rich">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu<br>fugiat nulla pariatur excepteur sint occaecat.&nbsp;<br>FaqCollapseCenter<br>
                        <p></p>
                    </div>
                </div>
                <!-- /lc-block -->
            </div>
            <!-- /col -->
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="accordion accordion-flush" id="accordionFlushMyFAQ2">
                    <div class="lc-block accordion-item mb-5">
                        <a editable="inline" class="fw-bold text-decoration-none text-white h4 collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Excepteur sint occaecat cupidatat non?
                        </a>
                        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushMyFAQ2">
                            <div class="accordion-body" editable="rich">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>

                    <div class="lc-block accordion-item mb-5">
                        <a editable="inline" class="fw-bold text-decoration-none text-white h4" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Duis aute irure dolor in?
                        </a>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushMyFAQ2">
                            <div class="accordion-body" editable="rich">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>

                    <div class="lc-block accordion-item mb-5">
                        <a editable="inline" class="fw-bold text-decoration-none text-white h4" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Consequuntur magni dolores eos qui?
                        </a>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushMyFAQ2">
                            <div class="accordion-body" editable="rich">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>

                    <div class="lc-block accordion-item mb-5">
                        <a editable="inline" class="fw-bold text-decoration-none text-white h4" href="#" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                          Duis aute irure dolor in?
                        </a>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushMyFAQ2">
                            <div class="accordion-body" editable="rich">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>                    
                </div>
            </div>
            <!-- /col -->
        </div>
    </div>
</div>



<%- include('partials/footer.ejs') %>
